*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Sen";
    src: url("Sen/Sen-Bold.ttf") format("ttf"),
    url("Sen/Sen-Regular.ttf") format("ttf");
}


#navbarSupportedContent{
    background-color: rgb(0,0,50);
    max-height: 70px;
}

#paddingnav, #carouselExampleCaptions{
    padding: 0;
    margin: 0;
}

.Active{
    color: gray;
}
#rogner {
    max-height: 500px;
}

.carousel-inner {
    margin-bottom: 70px;
}

#titrecaroussel{
    font-weight: bold;
    font-size: 25px;
    text-shadow: 3px 2px 2px black;
}

.color {
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding-top: 7px;
}

.logo {
    width: 120%;
    margin-bottom: 30px;
}
.span{
    margin-left: 20px;
}
body{
    position: relative;
    font-family: 'Sen', sans-serif;
    }

body::after{
    content: "";
    background-image: url("asset/photos/fond.jpg");
    opacity: 0.2;
    position: absolute;
    background-size: 150% ;
    background-repeat: no-repeat;
    background-position: bottom;
    top: 0;
    left: 0;
    bottom : 0;
    right: 0;
    z-index: -1;
}

#photPres{
    margin: 8px;
}
#presTitle{
    margin: 10px;
    margin-left: 85px;
}

#textPres{
    margin-left: 30px;

}
.page-footer {
    background-color: rgb(0,0,50) ;
}

